.contato{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas:
                "title title title"
                "contatos icons links";
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    
}
.section-title{
    grid-area: title;
    font-size: 220px;
    text-align: center;
    background-image: linear-gradient(rgb(233, 227, 227), #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.conatos{
    grid-area: contatos;
    color: aliceblue;
    font-size: 24px;
   
    
}


.icons{

    display: flex;
    align-items: flex-end;
    justify-content: center
    grid-area: icons;
    display: flex;
    gap: 58px;
    
}
.iconCOntato{
    margin-top: 35px;
    
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center
   

}
.links{

    justify-content: flex-end;
    grid-area: links;
    text-align: end;
    color: aliceblue;
    font-size: 24px;
    
   
}