footer{

    grid-area: content;
    place-self: end center;
    height: 100px;
    width: 100%;
    background-color:#0005;
    
    
}
.line-1 {
    margin-top: 3%;
    height: 1px;
    background: #fff;
  }

.direitosReservados{
    text-align: center;
    margin-top: 3%;
    

}