footer{

    grid-area: content;
    place-self: end center;
    height: 100px;
    width: 100%;
   
    
    
}
.line-1 {
    margin-top: 3%;
    height: 1px;
    background: #fff;
  }

.direitosReservados{
    text-align: center;
    margin-top: 3%;
    

}
@media screen and ( max-device-width: 768px), screen and ( max-width: 768px) {

    footer{

        font-size: 5px;
        
        
    }


}