@media screen and (max-width: 960px) {
    
    
    body {
        max-width: 960px
    }
    header{

    
    }
    main{
     background-color: aqua;


    }
     .home{
 
        background-color: brown;
        display: flex;
        flex-direction: column;
        max-width: 960px;

    }

    .profile{

        transform: translate(-60%, -0%);
        display: flex;
        flex-direction: column;
        max-width: 960px;
        align-items: center;
        
    }

     .sobreMim{
       background-color: chartreuse;
       transform: translate(-60%, -0%);
       display: flex;
       flex-direction: column;
       max-width: 960px;
       align-items: center;
        
    }


    .section-title{
        grid-area: title;
        font-size: 2.5vh;
        text-align: center;
        background-image: linear-gradient(rgb(233, 227, 227), #000);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
    


     .projetos{
        max-width: 960px;
        transform: translate(-60%, -0%);
        display: flex;
        flex-direction: column;
        max-width: 960px;
        align-items: center;
        background-color: darkblue;
       
    
    }
     .contato{
        max-width: 960px;
        transform: translate(-60%, -0%);
        display: flex;
        flex-direction: column;
        max-width: 960px;
        align-items: center;
        flex-direction: column;
        max-width: 960px;
        align-items: center;
       background-color: darkmagenta;
        
    }

    footer{
        display: none;



    }












  }
