.menu{
    display: flex;
    gap: 72px;
    font-size: 1.25rem;

}

.menu li{
    border-bottom: 4px solid transparent;
    transition: border-color .5s;


}

.menu li:hover{
    border-color: var(--primary-color);

}

@media screen and ( max-device-width: 768px), screen and ( max-width: 768px) {
    .menu{
    display: none;

    }
        
    
    }