.sobreMim{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas:
                "title title"
                "description skills ";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
    
}

.section-title{
    grid-area: title;
    font-size: 220px;
    text-align: center;
    background-image: linear-gradient(rgb(233, 227, 227), #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding-top: 3%;
}
.descricoesQuemSou{

    padding-top: 60px;
    font-size: 32px;
    grid-area: description;
}
.description{
   
}
.skills{
    color: var(--primary-color);
    font-size: 64px;
    grid-area: skills;
  
    
}
.tituloQuemSou{

    color: var(--primary-color);
    font-size: 80px;
    grid-area: description;
    padding-top: 1%;

}

.containerSkills{
    padding-top: 44px;
   display: grid;
   grid-template-areas:
                "a b c"
                "d f g ";
    grid-template-rows: 170px 170px 170px;
    grid-template-columns: 150px 150px 150px;
     gap: 30px;


}
.item{

    color: aliceblue;
    background-color: #252525;
    font-size: 32px;
   text-align: center;
   padding-top: 35px;
    
    
}
    
@media screen and (max-width: 960px) {
    
    .sobreMim{

        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 200vh;
        
    }
     
    .section-title{
      
        font-size: 7rem;
        text-align: center;
        margin-top: 5%;
    
    }
    .descricoesQuemSou{
        margin-top: 50%;
        font-size: 2.2rem;
        position: absolute;
        left: 43%;
        transform: translate(-40%, -60%);
        padding: auto;
        
        
    }
    .description{
       
        
    
    }
    .skills{
        margin-top: 75%;
        font-size: 3rem;
        
       
        
    }
    .tituloSkill{
     padding-left: 17%;


    }
    .containerSkills{
        margin-top: 1%;
        padding-top: 1rem;
       grid-template-areas:
                    "a b c"
                    "d f g ";
        grid-template-rows: 180px 180px 180px;
        grid-template-columns: 140px 140px 140px;
         gap: 90px;
        justify-content: center;
        align-items:center;
    
    
    }
    .item{

    font-size: 2.3rem;
       text-align: center;
       padding-top: 2.5x;
    }
    .tituloQuemSou{
        padding-top: 4%;
        padding-left: 15%;
    
    }
}
