.sobreMim{
    max-width: 1200px;
    width: 100%;
    display: grid;
    grid-template-areas:
                "title title"
                "description skills ";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    
}

.section-title{
    grid-area: title;
    font-size: 220px;
    text-align: center;
    background-image: linear-gradient(rgb(233, 227, 227), #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.description{
    margin-top: 18%;
    font-size: 32px;
    grid-area: description;
    
}
.skills{
    color: var(--primary-color);
    font-size: 64px;
    grid-area: skills;
  
    
}
.containerSkills{
   display: grid;
   grid-template-areas:
                "a b c"
                "d f g ";
    grid-template-rows: 160px 160px 160px;
    grid-template-columns: 110px 110px 110px;
   gap: 30px;
   
  


}
.item{

    color: aliceblue;
    background-color: #252525;
    font-size: 32px;
   text-align: center;
   padding-top: 30px;
    
    
}
    
